<?xml version="1.0"?>
<config>
    <modules>
        <Redstage_LumiaryEndpoint>
            <version>1.0.0.1</version>
        </Redstage_LumiaryEndpoint>
    </modules>
    <global>
        <models>
            <lumiaryendpoint>
                <class>Redstage_LumiaryEndpoint_Model</class>
            </lumiaryendpoint>
        </models>
        <resources>
            <lumiaryendpoint_setup>
                <setup>
                    <module>Redstage_LumiaryEndpoint</module>
                </setup>
                <connections>
                    <use>core_setup</use>
                </connections>
            </lumiaryendpoint_setup>
            <lumiaryendpoint_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lumiaryendpoint_write>
            <lumiaryendpoint_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lumiaryendpoint_read>
        </resources>
        <blocks>
            <lumiaryendpoint>
                <class>Redstage_LumiaryEndpoint_Block</class>
            </lumiaryendpoint>
        </blocks>
        <helpers>
            <lumiaryendpoint>
                <class>Redstage_LumiaryEndpoint_Helper</class>
            </lumiaryendpoint>
        </helpers>
    </global>
    <frontend>
        <routers>
            <lumiaryendpoint>
                <use>standard</use>
                <args>
                    <module>Redstage_LumiaryEndpoint</module>
                    <frontName>lumiaryendpoint</frontName>
                </args>
            </lumiaryendpoint>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <lumiaryendpoint after="Mage_Adminhtml">Redstage_LumiaryEndpoint_Adminhtml</lumiaryendpoint>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <lumiaryendpoint>
            <core>
                <enabled>0</enabled>
            </core>
            <logging>
                <enabled>1</enabled>
                <file>lumiaryendpoint.log</file>
            </logging>
        </lumiaryendpoint>
    </default>
</config>	